<?xml version="1.0" encoding="UTF-8"?>
<xmlConfig>
    <mongoDBConfigType>cluster</mongoDBConfigType>
    <mongoDBLocalConfig>
        <mongoDBIp>localhost</mongoDBIp>
        <mongoDBPort>27017</mongoDBPort>
        <mongoDBName>myPodcastDB</mongoDBName>
        <mongoDBUser>admin</mongoDBUser>
        <mongoDBPassword>password</mongoDBPassword>
    </mongoDBLocalConfig>
    <mongoDBClusterConfig>
        <mongoDBIp1>localhost</mongoDBIp1>
        <mongoDBPort1>27018</mongoDBPort1>
        <mongoDBIp2>localhost</mongoDBIp2>
        <mongoDBPort2>27019</mongoDBPort2>
        <mongoDBIp3>localhost</mongoDBIp3>
        <mongoDBPort3>27020</mongoDBPort3>
        <writeConcern>1</writeConcern>
        <readPreferences>nearest</readPreferences>
        <mongoDBName>myPodcastDB</mongoDBName>
        <mongoDBUser>admin</mongoDBUser>
        <mongoDBPassword>password</mongoDBPassword>
    </mongoDBClusterConfig>
    <neo4JConfig>
        <neo4JIp>localhost</neo4JIp>
        <neo4JPort>7687</neo4JPort>
        <neo4JName>myPodcastDB</neo4JName>
        <neo4JUser>neo4j</neo4JUser>
        <neo4JPassword>password</neo4JPassword>
    </neo4JConfig>
    <logMode>verbose</logMode>
    <imageCacheSize>100</imageCacheSize>
</xmlConfig>