<?xml version="1.0" encoding="UTF-8"?>
<xmlConfig>
    <databasesConfigType>local</databasesConfigType>
    <mongoDBLocalConfig>
        <mongoDBIp>localhost</mongoDBIp>
        <mongoDBPort>27017</mongoDBPort>
        <mongoDBName>myPodcastDB</mongoDBName>
        <mongoDBUser>admin</mongoDBUser>
        <mongoDBPassword>password</mongoDBPassword>
    </mongoDBLocalConfig>
    <mongoDBClusterConfig>
        <mongoDBIp1>172.16.4.226</mongoDBIp1>
        <mongoDBPort1>27020</mongoDBPort1>
        <mongoDBIp2>172.16.4.227</mongoDBIp2>
        <mongoDBPort2>27020</mongoDBPort2>
        <mongoDBIp3>172.16.4.228</mongoDBIp3>
        <mongoDBPort3>27020</mongoDBPort3>
        <writeConcern>1</writeConcern>
        <readPreferences>nearest</readPreferences>
        <mongoDBName>myPodcastDB</mongoDBName>
        <mongoDBUser>admin</mongoDBUser>
        <mongoDBPassword>password</mongoDBPassword>
    </mongoDBClusterConfig>
    <neo4JLocalConfig>
        <neo4JIp>localhost</neo4JIp>
        <neo4JPort>7687</neo4JPort>
        <neo4JName>myPodcastDB</neo4JName>
        <neo4JUser>neo4j</neo4JUser>
        <neo4JPassword>password</neo4JPassword>
    </neo4JLocalConfig>
    <neo4JRemoteConfig>
        <neo4JIp>172.16.4.226</neo4JIp>
        <neo4JPort>7687</neo4JPort>
        <neo4JName>myPodcastDB</neo4JName>
        <neo4JUser>neo4j</neo4JUser>
        <neo4JPassword>neo4j</neo4JPassword>
    </neo4JRemoteConfig>
    <logMode>verbose</logMode>
    <imageCacheSize>100</imageCacheSize>
</xmlConfig>